<p id="notice"><%= notice %></p>

<h1>Listing Subderrits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subderrits.each do |subderrit| %>
      <tr>
        <td><%= subderrit.name %></td>
        <td><%= link_to 'Show', subderrit %></td>
        <td><%= link_to 'Edit', edit_subderrit_path(subderrit) %></td>
        <td><%= link_to 'Destroy', subderrit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <%= link_to 'New Subderrit', new_subderrit_path %>
<%end%>
