<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subderrit.name %>
</p>

Moderators:

<% @subderrit.moderators.each do |mod|%>
<p>
<%=mod%>
</p>
<%end%>

<% @subderrit.posts.each do |post|%>
<p>
<%=post.title%></br>
<%=post.body%></br>
<% vote = Pvote.where(post_id: post.id, user_id: current_user.id).first%>
<% if post.user_id != current_user.id %>
  <% if vote %>
    <% if vote.value == 1 %>
      <%= button_to 'DELETE Upvote', subderrit_post_vote_path(subderrit_id: params[:id], post_id: post.id), method: :delete%>
      <%= button_to 'CHANGE TO Downvote', "/subderrits/#{params[:id]}/posts/#{post.id}/vote", method: :put%>
    <% elsif vote.value == -1 %>
      <%= button_to 'CHANGE TOUpvote', "/subderrits/#{params[:id]}/posts/#{post.id}/vote", method: :put%>
      <%= button_to 'DELETE Downvote', subderrit_post_vote_path(subderrit_id: params[:id], post_id: post.id), method: :delete%>
    <% end %>
  <% else %>
    <%= button_to 'Upvote', subderrit_post_upvote_path(subderrit_id: params[:id], post_id: post.id)%>
    <%= button_to 'Downvote', subderrit_post_downvote_path(subderrit_id: params[:id], post_id: post.id)%>
  <% end %>
<% end %>

<%val = 0%>
<!-- TODO: MAKE THIS SERVERSIDE NOT IN THE VIEWS- THIS IS JUST A TEMPORARY HACK. -->
  <%post.pvotes.each do |pvote| %>
    <%val = val + pvote.value %>
  <%end%>
<%= val %>


</p>
<%end%>


<%= link_to 'Destroy', @subderrit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', subderrits_path %>
<%= link_to 'Make Post', "/subderrits/#{@subderrit.id}/posts/new" %>
