<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subderrit.name %>
</p>

Moderators:

<% @subderrit.moderators.each do |mod|%>
<p>
<%=mod%>
</p>
<%end%>

<% @subderrit.posts.each do |post|%>
<p>
<%=post.title%></br>
<%=post.body%></br>
<%= button_to 'Upvote', subderrit_post_upvote_path(subderrit_id: params[:id], post_id: post.id)%>
<%= button_to 'Downvote', subderrit_post_downvote_path(subderrit_id: params[:id], post_id: post.id)%>
</p>
<%end%>


<%= link_to 'Destroy', @subderrit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', subderrits_path %>
<%= link_to 'Make Post', "/subderrits/#{@subderrit.id}/posts/new" %>
