<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% post_vote = 0 %>
<% post_count = 0%>
<% comment_vote = 0 %>
<% comment_count = 0 %>

<% @user.posts.each do |post| %>
  <% post_count = post_count + 1 %>
  <% post_vote = post_vote + post.net_votes %>
<%end%>

<% @user.comments.each do |comment| %>
  <% comment_vote = comment_vote + comment.net_votes %>
  <% comment_count = comment_count + 1 %>
<%end%>

<%= post_count %> Posts made, with <%= post_vote %> total upvotes </br>
<%= comment_count %> Comments made <%= comment_vote %> total upvotes</br>

