<%= form_tag(subderrit_post_comments_path(@comment, :post_id => params[:id], :subderrit_id => params[:subderrit_id])) do %>

  <div class="field">
    <%= label_tag :body %>
    <%= text_area_tag 'comment[body]' %>
  </div>

  <%= hidden_field_tag 'comment[post_id]', params[:id]%>

  <div class="action">
    <%= submit_tag %>
  </div>


<% end %>