<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>

<p>
  <%= @post.body %></br>
  By: <%= @post.user.username %></br>
  Upvotes: <%= @post.net_votes %>
  <% if current_user == @post.user %>
    </br><%= link_to 'edit', edit_subderrit_post_path %>
  <% end %>
</p>

<% @can_delete = @post.subderrit.moderators.include?(current_user.username) %>


Make a comment:
<p>
<%= render 'comment_form' %>
</p>

<% @post.comments.order(net_votes: :desc).each do |comment| %>
  <% if comment.op_comment.nil? %>
  
  
  </br><strong><%= comment.user.username %></strong>
  </br><%= comment.body %>
  </br>Upvotes: <%= comment.net_votes %>

  <%= render 'vote_partial', comment: comment%>
  <% if logged_in? %>
    </br><%= link_to 'reply', new_subderrit_post_comment_comment_path(:comment_id => comment.id, :post_id => params[:id], :subderrit_id => params[:subderrit_id]) %>
  <% if @can_delete || comment.user == current_user%>
    </br><%= link_to 'delete', subderrit_post_comment_path(:comment_id => comment.id, :post_id => params[:id]), method: :delete %>
    </br><%= link_to 'edit', edit_subderrit_post_comment_path(:post_id => params[:id])%>
  <%end%>  

  <% end %>
  <%comment.replies.order(net_votes: :desc).each do |nc| %>
    <%= render 'comment_partial', margin: 0, comment: nc %>
  <%end%>
<%end%>


<%end%> 
